body {
    background-color: #202124;
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    box-sizing: border-box;
    height: 48px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    }

nav span {
    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg);
    display: inline-block;
    height: 24px;
    width: 74px;
}

.nav-items {
    margin-left: auto;
    margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 4px;
}

a:hover {
    text-decoration: underline;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

.gb {
    padding: 8px;
}

.gb_Cc {
    padding-left: 12px;
}

.appbar {
    background: none;
    color:#f28b82;
    font-size: 20px;
    margin: 25px 35px;
}

.line {
    border-color: var(--gS5jXb);
    border-bottom: 1px solid;
}

.Mza7yc {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.otByu {
    width: 100%;
    clear: both;
    color: #969ba1;
}

.yIQOUb {
    clear: both;
}

.I1Kbt {
    float: left;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    vertical-align: middle;
    color: #e8eaed;
}

.HoCfzc {
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.orcpGe {
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    padding-left: 5px;
    vertical-align: middle;
    color: #e8eaed;
}

.lOTAE {
    height: 30px;
    display: table-cell;
    vertical-align: middle;

}

.FAcADc {
    color: #969ba1;
    float: left;
    min-width: 167px;
    width: 16%;
    height: 42px;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.jYcx0e {
    float: left;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.PLLUQc {
    padding-right: 16px;
}

.jfk-textinput {
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
    width: 100%;
    text-align: left;
    height: 25px;
    padding-left: 8px;
}


.row-div {
    display: grid;
    width: 100%;
    max-height: 42px;
    grid-column-gap: 10px;
    grid-template-columns: 16% 50% 32%;
}

.f-col {
    font-size: 13px;
}

.s-col {
    float: left;
    min-width: 167px;
    min-height: 41px;
    max-height: 46px;
    vertical-align: middle;
}

.t-col {
    font-size: 11px;
    padding-left: 16px;
}

.i-col {
    display: table-cell;
    padding-right: 16px;
}

.BFlQMb {
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
    color: #dadce0;
}

.submit-button {
    margin: 10px 0;
    padding: 0 12px;
    background: #4d90fe;
    border-color: #4d90fe;
    border-radius: 2px;
    color: #202124;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 27px;
}

.submit-button:hover {
    background: #8ab4f8;
    border-color: #8ab4f8;
}


.google-logo {
    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg);
    height: 92px;
    width: 272px;
}

.imagem {
    color:#4487f6;
    font:16px/16px Arial,sans-serif;
    position: absolute;
    left:215px;
    bottom:0;
    white-space:nowrap;
}


.bcontf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 290px;
    max-height: 290px;
    position: relative;
}

.bcont {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bconts {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 584px;
    padding-top: 20px;
}

.indiv {
    background: #4d5156;
    border-radius: 24px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.centerinput {
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.indivH {
    box-shadow: none;
    background: transparent;
    border: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #e8eaed;
}

.indivH:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
}

.bdiv {
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: center;
}

.bsearch {
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
    font-size: 14px;
    border: 1px solid #303134;
    background-color: #303134;
    border-radius: 4px;
    color: #e8e8e8;
}





